### ===== OS =====
.DS_Store
Thumbs.db

### ===== IntelliJ / JetBrains =====
.idea/
*.iml

### ===== VS Code =====
.vscode/

### ===== Maven / Java =====
target/
*.log
*.class
.mvn/wrapper/maven-wrapper.jar

### ===== Spring Boot =====
application-*.yml
application-*.properties

### ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/

### ===== FastAPI / Uvicorn =====
uvicorn.log

### ===== Build / cache =====
dist/
build/

### ===== Git =====
*.orig
RABBITMQ_SETUP.md

# Internal local scripts (contains secrets)
/sma-core-service/src/main/resources/internal-scripts/
