services:
  sma-core-service:
    build:
      context: ./sma-core-service
      dockerfile: Dockerfile
    image: anhtu2808/sma-core-service:latest
    container_name: sma-core-service
    restart: unless-stopped

    env_file:
      - .env
    environment:
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "8080:8080"

    volumes:
      - /var/docker/sma/logs/core-service:/app/logs

    networks:
      - sma-network

    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

    security_opt:
      - no-new-privileges:true

networks:
  sma-network:
    driver: bridge
